.heading-2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.lead {
  font-size: 1.7rem;
}

.Pacifico {
  font-family: Pacifico;
}

.centertext {
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .lead {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .lead {
    font-size: 1.4rem;
  }
}
