.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  background-color: rgb(253, 253, 253);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0.3rem 0.2rem 0.8rem black;
  animation: fade-in 0.5s ease;
}

.action-modal {
  width: 40%;
  height: 60%;
}

.photo-modal {
  max-width: 93.56rem;
  // So child elements have height.
  width: 100%;
  display: flex;

  & ~ .container {
    filter: brightness(60%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1300px) {
  // .photo-modal {
  //   max-width: 100rem;
  //   width: 80%;
  // }

  .action-modal {
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  .photo-modal {
    width: 80%;
  }

  .action-modal {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .photo-modal {
    width: 80%;
  }

  .action-modal {
    width: 80%;
  }
}
